In [1]:
import os
os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file = os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Price\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [4]:
import pandas as pd

data = pd.read_csv(data_file)
data

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [28]:
inputs,outputs = data.iloc[:,0:2],data.iloc[:,2]
# inputs['NumRooms'] = inputs['NumRooms'].fillna(inputs['NumRooms'].mean())
inputs = inputs.fillna(inputs.mean(numeric_only=True))
inputs

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [39]:
# 也可以将string换为数值类别，dummy_na = True 表示NA也算一种类
inputs = pd.get_dummies(inputs,columns=['Alley_Pave','Alley_nan'],dummy_na=True,dtype=int)
print(inputs)

KeyError: "None of [Index(['Alley_Pave', 'Alley_nan'], dtype='object')] are in the [columns]"

In [25]:
# 转为tensor
import torch
X,y = torch.tensor(inputs.values),torch.tensor(outputs.values)

TypeError: can't convert np.ndarray of type numpy.object_. The only supported types are: float64, float32, float16, complex64, complex128, int64, int32, int16, int8, uint8, and bool.